body {
    /* background: linear-gradient(227deg,#273a3a,#0e7474,#083e3e,#083e3e);
    background-size: 240% 240%;
    animation: gradient-animation 16s ease infinite; */
    /* background-repeat: no-repeat; */
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    background-color: #131E28;
    background-image: url('bg2.jpeg');
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 100vw;
    background-attachment: fixed;
    color: #e0e4e7;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #1d2d3b; /* Warna thumb (scrollbar) */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #0f161c; /* Warna track (area di sekitar thumb) */
}


nav{
    background-color: #0F161C;
    width: 100vw;
    display: flex;
    padding: 10px 3rem ;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.logo img{
    width: 20%;
    margin-top: -3%;
    margin-bottom: -13px;
    mix-blend-mode:screen;
}

.nav-menfess{
    padding-top:20px ;
}
#addChanel, #addFess{
    padding-top: 6%;
}

.nav-menfess ul{
    min-width: 45%;
}

nav ul{
    display: flex;
    width: 25%;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
}

nav ul li:hover{
    text-decoration: underline;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
}

nav .logo{
    color: aquamarine;
}

.dropdown-item-header {
    border: none;
}

#bodys{
    display: flex;
    width: 100%;
    min-height: 30rem;
    margin-top:5rem;
    background-color: #0f161c;
    border-radius: 2em;
}

#body{
    margin-top: 8rem;
}

.dropdown-menu{
    width: auto;
}

.wrapper-room{
    background-color: #0f161c;

}

.body-menfess{
    border-radius: 0;
}

.body-1{
    width: 80%;
    padding: 1rem ;
    padding-left: 2rem;
}

.body-1 .brand{
    color: aliceblue;
    font-weight: 500;
    font-size: 70px;
}

.badge{
    width: 50%;
    margin-bottom:1rem ;
    display: flex;  
}

.badge-item{
    color: #0F161C;
    padding: 5px;
    background-color: cyan;
    border-radius: 5px;
    margin-right: 5%;
    transition: all 0.4s;
}

.badge-item:hover{
    cursor: pointer;
}

.body-1 .quotes{
    color: #c8d4e0;
    margin-bottom:5rem ;
}

.info-txt{
    color: aliceblue;
}

.body-1 .destination{
    display: flex;
}

.desti-item{
    padding: 15px;
    border-radius: 5px;
    background-color:cyan;
    margin-right: 5%;
    z-index: 10;
    color: #0F161C;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
}

.desti-item:hover, .badge-item:hover{
    color: cyan;
    background-color: #0F161C;
}

.body-2{
    padding-left: 16%;
    width: 50%;


  
}

.bg-img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.062));
    z-index: 1;
    pointer-events: none; /* to make sure the overlay doesn't interfere with click events on the image */
}

#menfess{
margin-top: 5rem;
min-height: 50vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.card-menfess{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #0F161C;
    border-radius: 2em;
    padding: 2em;
    justify-content: space-between;
}

.menfess-left{
    max-width: 30%;
    overflow: hidden;
    border-radius: 1em;
    color: #0F161C;
}
.menfess-right{
    width: 60%;
    color: #c8d4e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify ;
}

.menfess-example{
    background-color: #c8d4e0;
    min-width: 20rem;
    min-height:15rem ;
    padding: 1em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exam-bottom{
    display: flex;
}

.menfess-right-info{
    margin-bottom: auto;
}

.action, .action-item{
    margin-top: auto;
    height: auto;
    transition: all 1s;
}

#ngl{
    color: #e0e4e7;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.ngl-wrapper{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
}  

.ngl-top{
    background-color: #0F161C;
    padding: 1em;
    border-radius: 1em;
}


.ngl-bottom{
    margin-top: 2rem;
    background-color: #0f161c;
    padding: 1em;
    border-radius: 1em;
}

.ngl-theme{
    display: flex;
    margin-top: 3em;
    justify-content: space-evenly;
}
.theme-item{
    padding: 1em;
    color: #0F161C;
    max-width: 15rem;
    min-height: 5rem;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.493);
}

footer{
    padding: 2em;
    position: relative;
    bottom: 0;
    color: #e0e4e7;
    width: 100%;
    min-height: 15rem;
    margin-top: 10rem;
    background-color: #0F161C;
}
.footer-group{
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}



/* ====================================================================================MENFESS============================ */


.wrapper-room{
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
}

.room-item{
    max-width: 47%;   
    max-height: 9rem;
    color: #131E28;
    border-radius: 0.5em;
    padding: 0.3em;
    display: flex;

    justify-content: space-between;
    margin-right:auto;
}

.room-left{
    width: 20%;
    overflow: hidden;
    border-radius:0.3em ;
    display: flex;
    align-items: center;
}

.room-right{
    
    width: 90%;
    padding: 1em;
    padding-top: 1em;
    overflow: hidden;
    border-radius: 0em 0em 0.3em 0.3em ;
}

.room-right .desc{
    height: 2em;
    overflow: hidden;
}

.room-left img{
    width: 100%;
    margin: auto;
    border-radius: 20rem;
    aspect-ratio: 1/1;
    border: 3px solid #0F161C;
}

.room-right h4{
    height: 1.4em;
    overflow:hidden ;
}

.room-right p{
    font-size: 14px;
    margin-bottom: -5px;
}

#explore{
    margin-top: 7rem;
}

.wrapper-menfess {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Mengubah justify-content menjadi flex-start */
    align-items: flex-start;
    gap: 5em;
}

.menfess-item {
    width: 46%;
    min-height: 300px;
    box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.493);
    margin-right: auto; /* Menambahkan margin-left: auto pada semua item */
}

.menfess-body{
    overflow-y: scroll;
    height: 120px;

}


.menfess-chanel{
    background-color: #0f161c82;
    padding: 0.4em 1em 0.1em 1em; 
}

.menfess-bg{
    background-color: #0F161C;
    padding: 1em;
}

/* ====================TambahFess */

.sheet{
    margin: auto;
    width: 90%;
    min-height: 10rem;
    background-color: #131E28;
    padding: 1rem 3em;
}

.bo-none{
    border:none;
}

.in-sheet{
    margin: 0;
    color: #c8d4e0;

}
.in-sheet:focus{
    margin: 0;
    color: #c8d4e0;
}
.t-black{
    color: #0F161C;
}

/*======================================*/
.card-dark{
    background-color: #0f161c;
}








/* ====================================Animation========= */
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .menfess-example, .theme-item , .gradient-card{
    background: linear-gradient(300deg,#e3e998,#8cebc7,#a060dd);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .action-item a:hover, .theme-item a:hover {
    transition: all 1s;

    background: linear-gradient(300deg,rgb(15, 120, 155),rgb(98, 217, 226),rgb(89, 89, 194));
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
  }


  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


 

.color-sec{
    color: #e0e4e7;
}

.bg-2{
    background-color: #0f161c;
}

.bo-0{
    border: none;
}

.icon-group{
    
}

.ico img{
    width: 30px;

}